/* modal sign up */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-banner {
    width: 320px;
    font-size: 1.8rem;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.form-contain {
    position: relative;
    height: 640px;
    width: 330px;
    margin-top: 150px;
    margin-bottom: 30px;
}

.form {
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--black-color);
    padding: 25px;
    text-align: center;
}

.form-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    
    padding: 20px;
    width: 100%;

    text-align: center;
}

.form-title {
    font-size: 1.2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
}

.form-title h3 {
    padding: 10px;
    color: var(--black-color);
    cursor: pointer;
}

#sign-up {
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--white-color);
}
#log-in {
    flex-grow: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--white-color);
}

.line {
    opacity: 0.5;
    background-color: var(--theme-color);
    position: absolute;
    border-radius: 10px;
    transition: all 0.4s ease;
}


.desc {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 18px;
}

.spacer {
    margin-top: 90px;
}

.form-group {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.form-label {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    
    margin-bottom: 5px;
}

.form-input {
    padding: 8px 10px;

    border: 1px solid #b3b3b3;
    border-radius: 5px;
    outline: none;

    font-size: 1.4rem;
    color: #51545be9;
}

.form-input-active {
    border: 2px solid;
    border-color: #1dbfaf;
}

.form-messege {
    font-size: 1.1rem;
    text-align: left;

    color: red;

    margin-top: 3px;
}

.form-btn {
    padding: 10px;
    margin-top: 1rem;
    font-size: 1.4rem;

    outline: none;
    border: none;
    border-radius: 15%/60%;

    background-color: var(--theme-color);
    color: var(--white-color);

    cursor: pointer;

    width: 50%;
    transition: width .5s;
}

.form-btn:hover {
    border-radius: 10%/75%;
    width: 100%;
}

.invalid {
    border-color: red;
} 

.hide_form {
    display: none;
}

#login_footer {
    width: 100vw;
}