doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet", href="../scss/style.css")
        title NodeJS Learning
    body
        .app 
            include ../partials/header
            block content